<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{%block title%}{% endblock %}</title>
{% block head_pre %}{% endblock %}
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block head_post %}{% endblock %}
</head>
<body>
<div id=header>
<h1 class="center-block text-center" style="width:600px;">Welcome to the Job Portal</h1>
</div>
<div id=content>
{% block main_content%}{% endblock %}
</div>
<div id=footer>
<ul>
<li><a href="/home">Home</a></li>
<li><a href="/about-us">About Us</a></li>
<li><a href="/jobs">Jobs</a></li>
<li><a href="/contact-us">Contact Us</a></li>
</ul>
</div>
{% block page_js %}
{% endblock %}
</body>
</html>