<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>AJAX demo</title>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<style type="text/css">
div#test {
	border:1px solid black;
	height:500px;
	width:500px;
	position:relative;
}
</style>
</head>
<body>
{% for fruit in fruitslist %}
	{% if fruit in specialFruits %}
		<b><li>{{ fruit }}</li></b>
	{% else %}
		<li>{{ fruit }}</li>
	{% endif %}
{% endfor %}
</body>
</html>