<div class="job-posting">
	<div>
		<strong>Job Title:</strong> {{jp.title}}<br>
		<strong>Company Name:</strong> {{jp.company_name}}<br>
		<strong>Status:</strong> {{jp.get_status}}<br>
		<p>
		{{jp.description}}
		</p>
		<a href="/get-job-applications?job_posting_id={{jp.id}}">View Applications</a>
		</div>
</div>

<hr>