{% extends 'base.html' %} 
{% block title %} Job Applications {% endblock %} 
{% block main_content %}
<div class="container">

<table class="table table-striped">
<tr>
	<td> First name </td>
	<td> Last name </td>
	<td> Email </td>
	<td> Phone Number </td>
	<td> Appl Date </td>
	<td> Appl Status </td>
</tr>
{% for ja in job_applications %}
   <tr>
   		<td>{{ja.job_seeker.user.first_name}}</td>
   		<td>{{ja.job_seeker.user.last_name}}</td>
   		<td>{{ja.job_seeker.user.email}}</td>
   		<td>{{ja.job_seeker.mobile_phone_no}}</td>
   		<td>{{ja.application_date}}</td>
   		<td>{{ja.status}}</td>
   </tr>
{% endfor %}
</table>


</div>
{% endblock %}
