{% extends 'base.html' %} 
{% load jp_filters %}
{% block title %} JobSeeker Home {% endblock %} 
{% block main_content %}
<div class="container">
<div id="job-postings" class="row">
{% for jp in job_postings %}
   <div class="job-posting">
	<div>
		<strong>Job Title:</strong> {{jp.title}}<br>
		<strong>Company Name:</strong> {{jp.company_name}}<br>
		<p>
		{{jp.description}}
		</p>
		{% if jp not in job_postings_applied %}
		<button type="button" class="btn btn-default" jpid="{{jp.id}}">Apply</button>
		{% else %}
		<strong>Application Date:</strong> {{job_applications|get_item:jp.id|get_attr:"application_date"}}<br>
		<strong>Application Status:</strong> {{job_applications|get_item:jp.id|get_attr:"status"}}<br>
		{% endif %}
	</div>
  </div>
  <hr>
{% endfor %}
</div>
</div>
{% endblock %}
{% block page_js %}
<script type="text/javascript">
$(document).ready(function(){
	$("div.job-posting button").click(function(){
		var button = this;
		$.post('/apply-job-posting', {"job_posting_id": $(this).attr('jpid')}, 
				function(res){
                     $(button).hide();
			    });
	});
	
});

</script>
{% endblock %}