{% extends 'base.html' %}
{% block title %} JobSeeker Registration {% endblock %}
{%block main_content %}
<div class="container-fluid">
<div class="row">
<!--<div class="col-md-3"></div>-->
<div class="col-md-6 col-md-offset-3">
<form action="/jobseeker-register" method="POST">
{{ form.non_field_errors }}
<div class="form-group {{form.username.errors|yesno:'has-error,'}}">
<label for="{{form.username.id_for_label}}">Username</label>
{{form.username}}
<span class="help-block">{{form.username.errors.0}}</span>
</div>
<div class="form-group {{form.password.errors|yesno:'has-error,'}}">
<label for="{{form.password.id_for_label}}">password</label>
{{form.password}}
<span class="help-block">{{form.password.errors.0}}</span>
</div>
<div class="form-group {{form.first_name.errors|yesno:'has-error,'}}">
<label for="{{form.first_name.id_for_label}}">First name</label>
{{form.first_name}}
<span class="help-block">{{form.first_name.errors.0}}</span>
</div>
<div class="form-group {{form.last_name.errors|yesno:'has-error,'}}">
<label for="{{form.last_name.id_for_label}}">last Name</label>
{{form.last_name}}
<span class="help-block">{{form.last_name.errors.0}}</span>
</div>
<div class="form-group {{form.email_address.errors|yesno:'has-error,'}}">
<label for="{{form.email_address.id_for_label}}">Email Address</label>
{{form.email_address}}
<span class="help-block">{{form.email_address.errors.0}}</span>
</div>
<div class="form-group {{form.mobile_phone.errors|yesno:'has-error,'}}">
<label for="{{form.mobile_phone.id_for_label}}">Mobile Number</label>
{{form.mobile_phone}}
<span class="help-block">{{form.mobile_phone.errors.0}}</span>
</div>

<button type="submit" class"btn btn-default">Submit</button>
</form>
<!--</div>
<div class="col-md-3"></div>-->
</div>
</div>
{% endblock %}
