{% extends 'base.html' %}
{% block title%}JobSeeker Profile Setup{% endblock %}
{% block head_pre %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ANGULAR_URL}}styles.css">

    <!-- Polyfill(s) for older browsers -->
    <script src="{{ANGULAR_URL}}node_modules/core-js/client/shim.min.js"></script>

    <script src="{{ANGULAR_URL}}node_modules/zone.js/dist/zone.js"></script>
    <script src="{{ANGULAR_URL}}node_modules/reflect-metadata/Reflect.js"></script>
    <script src="{{ANGULAR_URL}}node_modules/systemjs/dist/system.src.js"></script>

    <script src="{{ANGULAR_URL}}systemjs.config.js"></script>
    <script>
      System.import('{{ANGULAR_URL}}app').catch(function(err){ console.error(err); });
    </script>
{% endblock %}   
{% block main_content %}
<ojp-edu-qual>Loading...</ojp-edu-qual>
{% endblock %}