<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>AJAX demo</title>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

<div class="container-fluid">
<div class="row">
<!--<div class="col-md-3"></div>-->
<div class="col-md-6 col-md-offset-3">
<form action="/login" method="POST">
{{ form.non_field_errors }}
<div class="form-group {{form.username.errors|yesno:'has-error,'}}">
<label for="{{form.username.id_for_label}}">Username</label>
{{form.username}}
<span class="help-block">{{form.username.errors.0}}</span>
</div>
<div class="form-group {{form.password.errors|yesno:'has-error,'}}">
<label for="{{form.password.id_for_label}}">password</label>
{{form.password}}
<span class="help-block">{{form.password.errors.0}}</span>
</div>
<button type="submit" class"btn btn-default">Submit</button>
</form>
<!--</div>
<div class="col-md-3"></div>-->
</div>
</div>
</body>
</html>