{% extends 'base.html' %} 
{% block title %} Recruiter Home {% endblock %} 
{% block main_content %}
<div class="container">
<div class="row">
	<div class="col-md-offset-10 col-md-2 col-xs-12">
	<button id="post-job" type="button" class="btn btn-primary btn-lg">Post Job</button>
	</div>
</div>
<div id="job-postings" class="row">
{% for jp in job_postings %}
{% include "job-posting-detail.html" %}
{% endfor %}
</div>
</div>
<div id="post-job-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Post a Job</h4>
      </div>
      <div class="modal-body">
        <form action="/create-job-posting" method="POST">
        	<div class="form-group">
				<label for="{{form.company_name.id_for_label" class="control-label">Company Name</label>
				{{form.company_name}}
			</div>
			<div class="form-group">
				<label for="{{form.title.id_for_label" class="control-label">Job Title</label>
				{{form.title}}
			</div>
			<div class="form-group">
				<label for="{{form.description.id_for_label" class="control-label">Description</label>
				{{form.description}}
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save-job" type="button" class="btn btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block page_js %}
<script type="text/javascript">
$(document).ready(function(){
	$("button#post-job").click(function(){
		$("#post-job-modal").modal();
	});
	$("div#post-job-modal button#save-job").click(function(){
		$.post('/create-job-posting', $(this).closest(".modal-content").find("form").serializeArray(), 
				function(res){
                     $("#post-job-modal").modal('hide');
			         $("div#job-postings").append(res);
			    });
	});
	
});

</script>
{% endblock %}
