{% extends 'base.html' %} {% block title %} Recruiter
Registration {% endblock %} {% block main_content %}
<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
		<form action="/recruiter-register" method="POST">
			{{ form.non_field_errors }}
			<div class="form-group {{form.username.errors|yesno:'has-error,'}}">
				<label for="{{form.username.id_for_label" class="control-label">Username</label>
				{{form.username}}
				<span class="help-block">{{form.username.errors.0}}</span>
			</div>
			<div class="form-group {{form.password.errors|yesno:'has-error,'}}">
				<label for="{{form.password.id_for_label}}" class="control-label">Password</label>
				{{form.password}}
				<span class="help-block">{{form.password.errors.0}}</span>
			</div>
			<div class="form-group {{form.company_name.errors|yesno:'has-error,'}}">
				<label for="{{form.company_name.id_for_label" class="control-label">Company Name</label>
				{{form.company_name}}
				<span class="help-block">{{form.company_name.errors.0}}</span>
			</div>
			<div class="form-group {{form.email_address.errors|yesno:'has-error,'}}">
				<label for="{{form.email_address.id_for_label}}" class="control-label">Email
					Address</label> {{form.email_address}}
					<span class="help-block">{{form.email_address.errors.0}}</span>
			</div>
			<div class="form-group {{form.first_name.errors|yesno:'has-error,'}}">
				<label for="{{form.first_name.id_for_label}}" class="control-label">First Name</label>
				{{form.first_name}}
				<span class="help-block">{{form.first_name.errors.0}}</span>
			</div>
			<div class="form-group {{form.last_name.errors|yesno:'has-error,'}}">
				<label for="{{form.last_name.id_for_label}}" class="control-label">Last Name</label>
				{{form.last_name}}
				<span class="help-block">{{form.last_name.errors.0}}</span>
			</div>
			<div class="form-group {{form.mobile_phone.errors|yesno:'has-error,'}}">
				<label for="{{form.mobile_phone.id_for_label}}" class="control-label">Mobile Phone</label>
				{{form.mobile_phone}}
				<span class="help-block">{{form.mobile_phone.errors.0}}</span>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>
</div>
{% endblock %}
