<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>AJAX demo</title>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<style type="text/css">
div#test {
	border:1px solid black;
	height:500px;
	width:500px;
	position:relative;
}
</style>
</head>
<body>
<form action='/page/searchPage.html'>
<input id="search" type=text name="q">
<button id="button2" type="submit">Search</button>
</form>

{% for fruit in fruitslist %}
		<b><li>company name: {{ fruit.company_name }}</li></b>
		<b><li>Title: {{ fruit.title }}</li></b>
		<b><li>description: {{ fruit.description }}</li></b>
		<b><li>status: {{ fruit.get_status }}</li></b>
		<br><br>
{% endfor %}
</body>
</html>